<section id="hero1" class="flex-fill d-flex align-items-center book">
    <div class="container position-relative text-center text-lg-left " data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1>Make your Reservation!</h1>
            </div>
        </div>
    </div>
</section>
<section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Reservation</h2>
            <p>Book a Table</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img src="/img/tables-scheme-1.png" class="reservation" alt=""/>
            </div>

            <div class="col-lg-6">
                <form method="post" class="email-form" data-aos="fade-up" data-aos-delay="100">
                    <div class="form-row">
                        <div class="col-lg-6 col-md-8 form-group">
                            <input type="date" class="form-control" style="color: #a49b89" >
                        </div>
                        <div class="col-lg-3 col-md-5 form-group">
                            <select class="form-control" style="border-color: #625b4b; background: #0c0b09; color: #a49b89">
                                <option disabled selected hidden>Hour</option>
                                @for (int i = 10; i <= 22; i++)
                                {
                                    <option>@i</option>
                                }
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-5 form-group">
                            <select class="form-control" style="border-color: #625b4b; background: #0c0b09; color: #a49b89">
                                <option disabled selected hidden>Minutes</option>
                                <option>00</option>
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                @for (int i = 10; i <= 59; i++)
                                {

                                    <option>@i</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-6 col-md-8 form-group">
                            <input type="number" class="form-control" placeholder="Preferred table" >
                        </div>
                        <div class="col-lg-6 col-md-8 form-group">
                            <input type="number" class="form-control" placeholder="# of people" >
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
                    </div>
                    <div class="text-center"><button type="submit">Book a Table</button></div>
                </form>
            </div>
        </div>
    </div>
</section>