<section id="hero3" class="flex-fill d-flex align-items-center">
    <div class="container position-relative text-center text-lg-left " data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1>Check Our Tasty Menu!</h1>
            </div>
        </div>
    </div>
</section>
<section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="menu-flters">
                    <li id="all" onclick="MenuFunc(this.id)">All</li>
                    <li id="salads" onclick="MenuFunc(this.id)">Salads</li>
                    <li id="specialty" onclick="MenuFunc(this.id)">Specialty</li>
                    <li id="desserts" onclick="MenuFunc(this.id)">Desserts</li>
                    <li id="drinks" onclick="MenuFunc(this.id)">Drinks</li>
                </ul>
            </div>
        </div>
        <div id="partial">
            <partial name="_MenuPartial"/>
        </div>
    </div>
</section>  
