@model ProjectRestaurant.Web.ViewModels.Contact.ContactFormInputModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@{
    this.ViewData["Title"] = "Contact Us!";
}

<section id="hero2" class="flex-fill d-flex align-items-center ">
    <div class="container position-relative text-center text-lg-left " data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1>@this.ViewData["Title"]</h1>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="contact">

    <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2984.678189921547!2d24.702520215712322!3d41.5762089792473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ac5a048e67ed29%3A0xb45eab7860042d63!2zYnVsLiAiQnVsZ2FyaWEiIDE1LCA0NzAwINCh0YLQsNGAINGG0LXQvdGC0YrRgCwg0KHQvNC-0LvRj9C9!5e0!3m2!1sbg!2sbg!4v1605709988463!5m2!1sbg!2sbg" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="container" data-aos="fade-up">

        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="icofont-google-map"></i>
                        <h4>Location:</h4>
                        <p>15 Bul. Bulgaria Street Smolyan 4700, Bulgaria</p>
                    </div>

                    <div class="open-hours">
                        <i class="icofont-clock-time icofont-rotate-90"></i>
                        <h4>Open Hours:</h4>
                        <p>
                            Monday-Sunday:<br>
                            11:00 AM - 23:00 PM
                        </p>
                    </div>

                    <div class="email">
                        <i class="icofont-envelope"></i>
                        <h4>Email:</h4>
                        <p>vasil6062@gmail.com</p>
                    </div>

                    <div class="phone">
                        <i class="icofont-phone"></i>
                        <h4>Call:</h4>
                        <p>+359 87 798 0616</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

                <form id='demo-form' class="email-form" enctype="multipart/form-data">
                    <div class="form-row form-group">
                        <div class="col-md-6 form-group">
                            <input asp-for="Name" class="form-control" id="name" placeholder="Your Name" required />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <input asp-for="Email" class="form-control" id="email" placeholder="Your Email" type="email" required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input asp-for="Subject" class="form-control" id="subject" placeholder="Subject" required />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <textarea asp-for="Message" class="form-control" rows="8" placeholder="Your Message" required></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <div class="text-center">
                        <input type="hidden" id="RecaptchaValue" name="RecaptchaValue" />
                        <p>
                            By clicking the "Register" button, you confirm that you are familiar with and agree with our
                            <a asp-area="" asp-controller="Home" asp-action="Privacy">privacy policy.</a>
                        </p>
                        <button @*class="g-recaptcha" data-sitekey=@this.Configuration["GoogleReCaptcha:PublicKey"] data-callback='onSubmit'*@ type="submit">Send Message</button>
                    </div>
                </form>

            </div>

        </div>

    </div>
</section>

@*ReCaptcha-----*@

@*<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="https://www.google.com/recaptcha/api.js?render=@this.Configuration["GoogleReCaptcha:PublicKey"]"></script>
<script>
    function onSubmit(token) {
        document.getElementById("demo-form").submit();
    }

    grecaptcha.ready(function () {
        grecaptcha.execute('@this.Configuration["GoogleReCaptcha:PublicKey"]', { action: 'contact_form' }).then(function (token) {
            document.getElementById("RecaptchaValue").value = token;
        });
    });
</script>*@